<h1> Rock, Paper, Scissors!</h1>

<h2>Welcome to the awesomest game!</h2>

<p>You most likely know what the rules are but just in case you don't, they are easy!<br>

  <ul>

    <li>Rock crushes Scissors</li>
    <li>Scissors cuts Paper</li>
    <li>Paper covers Rock</li>

  </ul>

  All you need to do is go to the address bar at the top and change the URL.<br>
  If you want to see what how Paper fairs against Scissors, <br>
  go to the top of the page and type the combination after the main link:</br></br>

  /paper/scissors<br><br>

  Feel free to try any combination!

</p>
